.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#" , class: "icons__btn" do
          = icon('far', 'edit')
        = link_to "#" , class: "icons__btn" do
          = icon('fa', 'cog')
  .side-bar__group-list
    .group-lists
      .group-lists__name
        techcamp
      .group-lists__message
        まだメッセージがありません
    .group-lists
      .group-lists__name
        75期チャットグループ
      .group-lists__message
        まだメッセージがありません